<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="%oda.data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="com.allium.mylyn.oda.impl.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="%oda.data.source.id">
         <properties>
            <property
                  name="repositoryUrl"
                  allowsEmptyValueAsNull="false"
                  defaultDisplayName="Mylyn Repository Url"
                  type="string"
                  isEncryptable="false">
            </property>
            <property
                  allowsEmptyValueAsNull="false"
                  canInherit="false"
                  defaultDisplayName="Mylyn Repository Kind"
                  isEncryptable="false"
                  name="repositoryKind"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="com.allium.mylyn.oda.dataSet">
         <dataTypeMapping
               nativeDataTypeCode="1"
               nativeDataType="shortText"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="2"
               nativeDataType="shortRichText"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="3"
               nativeDataType="longText"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="longRichText"
               nativeDataTypeCode="4"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="5"
               nativeDataType="url"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="6"
               nativeDataType="taskDepenedency"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="7"
               nativeDataType="singleSelect"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="8"
               nativeDataType="person"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="9"
               nativeDataType="operation"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataTypeCode="10"
               nativeDataType="multiSelect"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="long"
               nativeDataTypeCode="11"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="integer"
               nativeDataTypeCode="12"
               odaScalarDataType="Integer">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="double"
               nativeDataTypeCode="13"
               odaScalarDataType="Double">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="dateTime"
               nativeDataTypeCode="14"
               odaScalarDataType="Time">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="date"
               nativeDataTypeCode="15"
               odaScalarDataType="Date">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="container"
               nativeDataTypeCode="16"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="comment"
               nativeDataTypeCode="17"
               odaScalarDataType="String">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="boolean"
               nativeDataTypeCode="18"
               odaScalarDataType="Boolean">
         </dataTypeMapping>
         <dataTypeMapping
               nativeDataType="attachment"
               nativeDataTypeCode="19"
               odaScalarDataType="Blob">
         </dataTypeMapping>
         <properties>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="Synchronize before querying"
                  defaultValue="false"
                  isEncryptable="false"
                  name="syncQuery"
                  type="choice">
               <choice
                     name="true"
                     value="true">
               </choice>
               <choice
                     name="false"
                     value="false">
               </choice>
            </property>
         </properties> 
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%oda.data.source.id">
      </category>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%oda.data.source.id"
            id="%oda.data.source.id">
      </connectionProfile>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%oda.data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection">
      </connectionFactory>
   </extension>

</plugin>
